fastapi
httpx[http2]
uvicorn
python-dotenv
langchain
google-genai
pydantic
langchain-core 
langchain-community
textstat
emoji
textblob
language_tool_python
cleantext
contractions
spacy
en_core_web_sm
google-cloud-aiplatform