fastapi
httpx[http2]
uvicorn
python-dotenv
langchain
langchain-google-genai
google-genai
pydantic
langchain-core 
langchain-community
textstat
emoji
textblob
language_tool_python
cleantext
contractions
spacy
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl